a{
    color: white;
    font-size: large;
}

.main-lbl {
    color: crimson;
    font-size: x-large;
}
.main-lbl:hover{
    color: #CD5C5C;
}

body {
    min-width: 270px;
}

.opana {
    margin-bottom: 0 !important;
    background: rgba(0, 0, 0, 0.58);
}

.user-span{
    font-weight: normal;
    color: white;
}
.user-name{
    font-weight: bold;
}