.mainmainmain {
    text-align: center;

}

.mcontainer {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.mheader {
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;


}
.mheader .overlay{
    width: 100%;
    height: 100%;
    padding: 0 50px;
    color: black;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    margin-bottom: 20px;
}

h3, p {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
    color: black;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: black;
    margin-bottom: 50px;

}
button:hover{
    cursor: pointer;
}

.main-important {
    background-size: cover;
    z-index: 0;
    min-height: 100vh;
    max-height: max-content;
    background: url('../pattern-rhomby-spirals.svg') fixed;
    padding-bottom: 10px;
}

.baclimgmain {
    position: absolute;
    width: 100%;
}

.content__article{
    margin: 0 auto;
    width: 60%;
}

.content__article > p{
    font-family: 'Courier Prime', monospace;
    text-align: center;
}

.content__article p {
    margin-bottom: 10px;
}
.content__article p.right {
    text-align: right;
}
.content__article img {
    vertical-align: top;
    height: 100px;
}
hr {
    size: 11px;
    width: 500px;
    color: crimson;
}