h3{
    text-align: center;
    margin: 10px 0;
}

.fa-ul{
    margin: 20px 0 0 10px;
}

.spec-b{
    display: block;
    background: rgba(0, 149, 103, 0.34);
    border: 1px solid #007656;
    align-self: normal;
}
.spec-b:hover{
    background: rgba(0, 149, 103, 0.52);
    border: 1px solid #005a43;
}
.spec-b:focus{
    box-shadow: none;
}
a{
    margin-bottom: 15px;
}